.u-section-1 .u-sheet-1 {
  min-height: 431px;
}

.u-section-1 .u-group-1 {
  width: 261px;
  min-height: 38px;
  height: auto;
  margin: 74px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  margin: 8px 0 0 7px;
}

.u-section-1 .u-group-2 {
  width: 261px;
  min-height: 119px;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-text-2 {
  margin: 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 21px auto 0;
  padding: 10px 53px 10px 52px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 7px auto 0;
  padding: 10px 60px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 7px auto 39px;
  padding: 10px 37px 10px 36px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 709px;
}

.u-section-2 .u-group-1 {
  width: 800px;
  min-height: 293px;
  height: auto;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 21px 30px;
}

.u-section-2 .u-group-2 {
  width: 261px;
  min-height: 38px;
  height: auto;
  margin: 0 auto 0 240px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  margin: 8px 0 0 7px;
}

.u-section-2 .u-group-3 {
  width: 261px;
  min-height: 119px;
  height: auto;
  margin: 0 auto 0 240px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-2 .u-text-2 {
  margin: 0;
}

.u-section-2 .u-group-4 {
  width: 261px;
  background-image: none;
  min-height: 90px;
  height: auto;
  margin: 0 auto 0 240px;
}

.u-section-2 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  margin: 17px 0 0;
}

.u-section-2 .u-group-5 {
  width: 800px;
  min-height: 334px;
  height: auto;
  margin: 38px auto 44px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 30px 12px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 0 auto;
  padding: 10px 48px 10px 47px;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 8px auto 0;
  padding: 10px 46px 10px 45px;
}

.u-section-2 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 8px auto 0;
  padding: 10px 57px;
}

.u-section-2 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 8px auto 0;
  padding: 10px 61px 10px 60px;
}

.u-section-2 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 8px auto 0;
  padding: 10px 55px 10px 54px;
}

.u-section-2 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 8px auto 0;
  padding: 10px 74px 10px 73px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }

  .u-section-2 .u-group-3 {
    height: auto;
  }

  .u-section-2 .u-group-4 {
    height: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-group-5 {
    height: auto;
  }

  .u-section-2 .u-btn-1 {
    align-self: flex-end;
  }

  .u-section-2 .u-btn-2 {
    align-self: flex-end;
  }

  .u-section-2 .u-btn-3 {
    align-self: flex-end;
  }

  .u-section-2 .u-btn-5 {
    align-self: flex-end;
  }

  .u-section-2 .u-btn-6 {
    align-self: flex-end;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
  }

  .u-section-2 .u-group-2 {
    margin-left: 200px;
  }

  .u-section-2 .u-group-3 {
    margin-left: 200px;
  }

  .u-section-2 .u-group-4 {
    margin-left: 200px;
  }

  .u-section-2 .u-group-5 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-2 {
    margin-left: 130px;
  }

  .u-section-2 .u-group-3 {
    margin-left: 130px;
  }

  .u-section-2 .u-group-4 {
    margin-left: 130px;
  }

  .u-section-2 .u-group-5 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-group-2 {
    margin-left: 30px;
  }

  .u-section-2 .u-group-3 {
    margin-left: 30px;
  }

  .u-section-2 .u-group-4 {
    margin-left: 30px;
  }

  .u-section-2 .u-group-5 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 545px;
}

.u-section-3 .u-group-1 {
  width: 800px;
  min-height: 293px;
  height: auto;
  margin: 70px auto 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 16px 30px;
}

.u-section-3 .u-group-2 {
  width: 261px;
  min-height: 38px;
  height: auto;
  margin: 0 auto 0 240px;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.25rem;
  margin: 8px 0 0 7px;
}

.u-section-3 .u-group-3 {
  width: 261px;
  min-height: 119px;
  height: auto;
  margin: 0 auto 0 240px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-3 .u-text-2 {
  margin: 0;
}

.u-section-3 .u-group-4 {
  width: 261px;
  background-image: none;
  min-height: 90px;
  height: auto;
  margin: 0 auto 0 240px;
}

.u-section-3 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.5rem;
  margin: 17px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 38px auto 60px;
  padding: 10px 37px 10px 36px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-group-2 {
    height: auto;
  }

  .u-section-3 .u-group-3 {
    height: auto;
  }

  .u-section-3 .u-group-4 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 720px;
  }

  .u-section-3 .u-group-2 {
    margin-left: 200px;
  }

  .u-section-3 .u-group-3 {
    margin-left: 200px;
  }

  .u-section-3 .u-group-4 {
    margin-left: 200px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-2 {
    margin-left: 130px;
  }

  .u-section-3 .u-group-3 {
    margin-left: 130px;
  }

  .u-section-3 .u-group-4 {
    margin-left: 130px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-group-2 {
    margin-left: 30px;
  }

  .u-section-3 .u-group-3 {
    margin-left: 30px;
  }

  .u-section-3 .u-group-4 {
    margin-left: 30px;
  }
}