.u-section-1 .u-sheet-1 {
  min-height: 682px;
}

.u-section-1 .u-group-1 {
  width: 266px;
  min-height: 112px;
  height: auto;
  margin: 43px auto 0 -49px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 0 11px;
}

.u-section-1 .u-group-2 {
  width: 266px;
  min-height: 112px;
  height: auto;
  margin: -112px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  margin: 0 11px;
}

.u-section-1 .u-group-3 {
  width: 266px;
  min-height: 112px;
  height: auto;
  margin: -112px -49px 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  margin: 0 11px;
}

.u-section-1 .u-group-4 {
  width: 266px;
  min-height: 36px;
  height: auto;
  margin: -144px auto 0 -49px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 19px;
}

.u-section-1 .u-text-4 {
  font-size: 1.75rem;
  margin: 0 0 -30px;
}

.u-section-1 .u-group-5 {
  width: 266px;
  min-height: 36px;
  height: auto;
  margin: -36px auto 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.75rem;
  margin: 0 -3px 0 3px;
}

.u-section-1 .u-group-6 {
  width: 266px;
  min-height: 36px;
  height: auto;
  margin: -36px -49px 0 auto;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 0 0 19px;
}

.u-section-1 .u-text-6 {
  font-size: 1.75rem;
  margin: 0;
}

.u-section-1 .u-group-7 {
  width: 266px;
  background-image: none;
  min-height: 89px;
  height: auto;
  margin: 108px auto 0;
}

.u-section-1 .u-container-layout-7 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-1 .u-group-8 {
  width: 266px;
  background-image: none;
  min-height: 89px;
  height: auto;
  margin: -89px -49px 0 auto;
}

.u-section-1 .u-container-layout-8 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.25rem;
  letter-spacing: 1px;
  margin: -72px auto 0 -49px;
  padding: 20px 20px 21px 19px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.25rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 22px auto 0 -49px;
  padding: 20px 38px 21px 37px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -136px auto 0;
  padding: 10px 41px 10px 40px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -42px -48px 0 auto;
  padding: 10px 33px 10px 32px;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 12px auto 0;
  padding: 10px 39px 10px 38px;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 11px auto 0;
  padding: 10px 47px;
}

.u-section-1 .u-btn-7 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 9px auto 0 -49px;
  padding: 30px 30px 30px 29px;
}

.u-section-1 .u-btn-8 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -96px auto 0;
  padding: 10px 53px;
}

.u-section-1 .u-btn-9 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 11px auto 0;
  padding: 10px 47px;
}

.u-section-1 .u-btn-10 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 17px 21px 0 auto;
  padding: 10px 34px;
}

.u-section-1 .u-btn-11 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 10px 21px 0 auto;
}

.u-section-1 .u-shape-1 {
  width: 55px;
  height: 55px;
  background-image: none;
  margin: -75px -44px 0 auto;
}

.u-section-1 .u-btn-12 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -80px auto 60px;
  padding: 10px 47px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }

  .u-section-1 .u-text-4 {
    margin-left: calc(((100% - 940px) / 2) + -61px);
  }

  .u-section-1 .u-group-5 {
    height: auto;
  }

  .u-section-1 .u-group-6 {
    height: auto;
  }

  .u-section-1 .u-group-7 {
    height: auto;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 30px;
    padding-bottom: 5px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 377px;
  }

  .u-section-1 .u-group-8 {
    height: auto;
  }

  .u-section-1 .u-container-layout-8 {
    padding-top: 30px;
    padding-bottom: 5px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 377px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -77px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -171px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -51px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-7 {
    margin-top: -79px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-8 {
    margin-top: -4px;
  }

  .u-section-1 .u-btn-9 {
    margin-top: 8px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: -72px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-11 {
    margin-right: 0;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 13px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-4 {
    margin-left: calc(((100% - 720px) / 2) + -61px);
  }

  .u-section-1 .u-text-7 {
    margin-left: 289px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 289px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    margin-left: calc(((100% - 540px) / 2) + -61px);
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 217px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 217px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-4 {
    margin-left: calc(((100% - 340px) / 2) + -61px);
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-7 {
    margin-left: 137px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 137px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -111px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -78px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -22px;
  }
}